In [ ]:
# 1.Use a python code to display the following star pattern using the for loop
for i in range(0,6):
  print("\n")
  for j in range(0,i):
    print("*",end=" ")
M=4
while M >0:
  print("\n")
  for t in range(0,M):
    print("* ",end="")
  M=M-1

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
# 2.Use looping to output the elements from a provided list present at odd indexes.
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(1,len(my_list),2):
    print(my_list[i])

20
40
60
80
100

In [ ]:
# 3.Write a code that appends the type of elements from a given list 
x = [23, 'Python', 23.98]
Type=[]
for i in x:#To acces the elements in the List 
  Type.append(type(i))#it iused to append the type of values in the list
print(x)
print(Type)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
#4. Write a function that takes a list and returns a new list with unique items of the first list.
SampleList: [1,2,3,3,3,3,4,5]
UniqueList = []
def unqlist(SampleList):
  for i in SampleList:
    if i not in UniqueList:
          UniqueList.append(i)
  return UniqueList
print(unqlist([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
def count_string(string):
  up_count = 0
  low_count = 0
  for char in string:
    if char.isupper():
      up_count +=1
    elif char.islower():
      low_count += 1
  return up_count, low_count

input_string = 'The quick  Brow Fox'
up_count,low_count = count_string(input_string)

print("No.of Upper case characters:", up_count)
print("No.of Lower case characters:", low_count)

No.of Upper case characters: 3
No.of Lower case characters: 12